<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome</h1>

    <form action="/welcome" method="post">
        <div>
            <label>
                Name:
                <input id="usernameInput" type="text" th:field="${user.username}">
            </label>
        </div>
        <div>
            <input id="newUserSubmit" type="submit" value="Start Chatting">
        </div>
    </form>
</body>
</html>